In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn import svm
import seaborn as sns

In [12]:
df = pd.read_csv('spam-data.csv')
df.columns = ["label","text"]
df.head()

  label                                               text
0   ham             I  wish  u  the  best  in  your  work.
1  spam  Hello, invest 18,000/= and earn 5,400/= - 10,8...
2   ham  You have bought UGX 5,000 airtime. New MoMo ba...
3   ham  You have sent UGX 11000 to JUMA UTHMAN KIWALAB...
4   ham  Bundle loaded worth UGX 5,000/- . New balance:...

In [15]:
#clean dataset
df['label'] = df['label'].str.strip()
df['text'] = df['text'].str.strip()
df['text'] = df['text'].str.replace(',','')
df.head()

  label                                               text
0   ham             I  wish  u  the  best  in  your  work.
1  spam  Hello invest 18000/= and earn 5400/= - 10800/=...
2   ham  You have bought UGX 5000 airtime. New MoMo bal...
3   ham  You have sent UGX 11000 to JUMA UTHMAN KIWALAB...
4   ham  Bundle loaded worth UGX 5000/- . New balance: ...

In [19]:
df["label"].value_counts()

ham     1217
spam      18
Name: label, dtype: int64

In [20]:
#Separate Target Variable and Predictor Variables
X = df.label
y = df.text

In [21]:
#Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test