In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn import svm
import seaborn as sns

In [29]:
df = pd.read_csv('spam-data.csv')
df.columns = ["label","text"]
df.head()

  label                                               text
0   ham             I  wish  u  the  best  in  your  work.
1  spam  Hello, invest 18,000/= and earn 5,400/= - 10,8...
2   ham  You have bought UGX 5,000 airtime. New MoMo ba...
3   ham  You have sent UGX 11000 to JUMA UTHMAN KIWALAB...
4   ham  Bundle loaded worth UGX 5,000/- . New balance:...

Clean dataset

In [ ]:
df['label'] = df['label'].str.strip()
df["label"].value_counts()

In [30]:
#trim spaces and convert to lowercase
df['text'] = df['text'].str.strip().str.lower()

  label  text
0   ham   NaN
1  spam   NaN
2   ham   NaN
3   ham   NaN
4   ham   NaN

In [ ]:
#removing the punctuations
import string

# create function for punctuation removal:
def remove_punctuations(text):
    for char in string.punctuation:
        text = text.replace(char, '')
    return text

# apply the function:
df['text'] = df['text'].apply(remove_punctuations)

In [ ]:
# expand contractions
import contractions
df['feedback'] = df['feedback'].apply(lambda x: contractions.fix(x))

In [ ]:
#removing the stopwords

# import list of stopwords:
from nltk.corpus import stopwords
stop = stopwords.words('english')

# add more words to stopwords list:
guided_list = ['guided', 'project', 'feedback']
stop_extended = stop + guided_list

# update column without the stopwords:
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_extended]))

ham     1217
spam      18
Name: label, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
#perform label encoding on label, text columns
df[['label', 'text']] = df[['label', 'text']].apply(LabelEncoder().fit_transform)

# df.to_numpy()

df.head()

   label  text
0      0   349
1      1   305
2      0   875
3      0   942
4      0    49

In [8]:
#Separate Target Variable and Predictor Variables
X = df.label
y = df.text

In [9]:
#Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [10]:
#change X_train to 2D numpy array
X_train = np.reshape(np.array(X_train), (-1, 2))
X_train.shape

(432, 2)

In [11]:
#change y_train to 2D numpy array
y_train = np.reshape(np.array(y_train), (-1, 1))
y_train.shape

(864, 1)