In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn import svm

In [2]:
df = pd.read_csv('spam-data.csv')
df

     category                                           messages
0         ham             I  wish  u  the  best  in  your  work.
1        spam  Hello, invest 18,000/= and earn 5,400/= - 10,8...
2         ham  You have bought UGX 5,000 airtime. New MoMo ba...
3         ham  You have sent UGX 11000 to JUMA UTHMAN KIWALAB...
4         ham  Bundle loaded worth UGX 5,000/- . New balance:...
...       ...                                                ...
1230      ham  Y'ello Assa! Enjoy FREE 200MB and 20 minutes w...
1231      ham  Great News!! Airtel has given you FREE Airtel ...
1232      ham  Dear Customer, you can now reset your Airtel M...
1233      ham  Dear customer, you can sign-up for Hospital Se...
1234      ham  Y'ello Assa! Enjoy the most affordable minutes...

[1235 rows x 2 columns]